# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.*.local

# Server Uploads
uploads/*
!uploads/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# Vercel
.vercel

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
